<div class="layout">

  <main class="content">

    <div class="topbar">

      <!-- LEFT -->
      <div class="left company">

        <img
          [src]="logo || defaultLogo"
          class="company-logo"
          alt="Logo de la empresa"
          (error)="onLogoError()"
        />

        <span>{{ companyName }}</span>

      </div>

      <!-- CENTER -->
      <div class="center">
        <a routerLink="/sales" routerLinkActive="active">Ventas</a>
        <a routerLink="/tables" routerLinkActive="active"> Mesas</a>
        <a routerLink="/products" routerLinkActive="active">Productos</a>
        <a routerLink="/prepared-products" routerLinkActive="active">Tragos</a>
        <a routerLink="/dashboard" routerLinkActive="active">Inicio</a>
        <a routerLink="/reports" routerLinkActive="active">Reportes</a>
        <a routerLink="/settings" routerLinkActive="active">Ajustes</a>
      </div>

      <!-- RIGHT -->
      <div class="right">

        <button class="logout-btn" (click)="logout()">
          Salir
        </button>

      </div>

    </div>

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </main>

</div>