@import 'ngx-toastr/toastr';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: #020617;
    color: #111827;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}